@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-bodyText bg-offWhite font-light;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
body {
  @apply text-fontPrimary;
}
a {
  @apply transition-all;
}
/*********ANIMATIONS*******/
.slide_l {
  transform: translateX(-80px);
  opacity: 0;
  transition: 1s cubic-bezier(0.71, 0.07, 0.25, 0.86);
}
.slide_l.active {
  transform: translateX(0);
  opacity: 1;
}
.slide_u {
  transform: translateY(80px);
  opacity: 0;
  transition: 1s cubic-bezier(0.71, 0.07, 0.25, 0.86);
}
.slide_u.active {
  transform: translateY(0);
  opacity: 1;
}
.hero {
  background: #06113c;
}
.hero .special {
  background: linear-gradient(45deg, black, #3bb77e, #e41b17);
  background-size: 600% 100%;
  animation: variableColor 5s infinite alternate;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes variableColor {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
